.DS_Store
.vscode/bookmarks.json
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
node_modules/
dist/
out/
out-round-trip/
**/src/generated
# syntaxes/
*.tsbuildinfo
*.vsix
.vsix-pack/

delete/
.env
.pnpm-store/